<%= item %>
<form action="/show/<%= id %>" method="post">
  <input type="hidden" name="_method" value="put">
  <input type="text" name="renamed_task">
  <button type="submit">Rename Task</button>
</form>